$color-primary-grey:#274C5B;
$color-primary-green:#7EB693;

$color-grey-1:#F7F7F7;

$color-white: #FFFFFF;
$color-white-2: #FCFCFC;


$color-grey-4: #B8B8B8;
$color-grey-5: #525C60;

$color-secondary: #FFA858;



