$color-primary-grey: #274c5b;
$color-primary-green: #7eb693;

$color-grey-1: #f7f7f7;

$color-white: #ffffff;
$color-white-2: #fcfcfc;

$color-grey-4: #b8b8b8;
$color-grey-5: #525c60;

$color-secondary: #ffa858;
