.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
  padding-bottom: 6rem;

  &__menu .silka {
    text-decoration: none;
    color: $color-primary-grey;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0.36px;
    padding-right: 4rem;
  }

  &__list {
    list-style: none;
    display: inline-block;
  }

  &__logo {
    width: auto;
    padding-left: 4rem;
  }
}
