.offerproducts{
  background-color: $color-primary-grey;


}

.cards-container {
  display: grid; /* Включаем Grid Layout */
  grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряду */
  gap: 3.2rem;
 

}


.content{

  

  padding-bottom: 8rem;
  padding-top: 8rem;
  

  &__offer{
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 6.4rem;
    letter-spacing: .36px;
    color: $color-primary-green;

    
  }

  .weandbutton{
    display: flex;
    justify-content: space-between;
  }

  &__we{
    color: $color-white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: .36px;
    
  }

  .content__button{
    
    text-decoration: none;

    &-third{
      width: fit-content;
      margin-bottom: 4.8rem;
      background-color: $color-secondary;
      border-radius: 1.6rem;
      font-size: 2rem;
      line-height: 3.2rem;
      letter-spacing: .36px;
      color: $color-primary-grey;
      padding: 2.4rem;
      border-style: none;
      font-family: 'Roboto', sans-serif;
      padding-right:0;
      width: fit-content;
      width: 26.9rem;
      text-align: center;
  
  
    }

  }



  }

